:root{
    --cor1: #F4F1DE;
    --cor2: #E07A5F;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--cor1);
}
header button{
    font-size: 2rem;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.add-menu{
    display: none;
}
.add-menu.on{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 1rem;
    height: 100vh;
    width: 20vw;
    top: 0;
    right: 0;
    padding: 2rem;
    background-color: white;
}
.input{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}
#options, #input, #qtd, #valor{ 
    width: 10rem;
}
#qtd::-webkit-outer-spin-button, #qtd::-webkit-inner-spin-button, #valor::-webkit-outer-spin-button, #valor::-webkit-inner-spin-button{ /*Tira o contador do input number*/
    -webkit-appearance: none;
    margin: 0;
}
#adic{
    font-size: 0.8rem;
    background-color: var(--cor2);
    color: var(--cor1);
    width: 10rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
}
#adic:focus{
    background-color: var(--cor1);
    color: var(--cor2);
}
.list{
    width: 100%;
    font-size: 0.7rem;
    background-color: var(--cor1);
    list-style: none;
}
.list-items{
    width: 100%;
    padding: 10px 5px;
}
#info-geral{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0rem 2rem;
    background-color: var(--cor1);
}
#info-left, #info-right{
    width: 30%;
}
.upper{
    background-color: var(--cor2);
    padding: 1rem;
}
.txt-upper, .txt-value{
    font-size: 1.5rem;
}
.bottom{
    padding: 1rem;
}
span{
    font-size: 0.8rem;
    padding-right: 1rem;
}
div#info-center{
    width: 30%;
    text-align: center;
}
.dropdowntable{
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}
.dropdowntable button{
    background-color: var(--cor2);
    padding: 0.6rem;
    text-align: left;
    border: none;
    cursor: pointer;
}
.material-symbols-outlined{
    font-size: 1rem;
    padding-left: 2rem;
}
.material-symbols-outlined.on{ /*Mudar a biblioteca do ícone e arrumar o toggle das demais tabelas*/
    transform: rotate(180deg);
    transition: 0.1s;
}
.tb-cons, .tb-acao, .tb-fii, .tb-cripto{
    display: none;
}
.tb-cons.on, .tb-acao.on, .tb-fii.on, .tb-cripto.on{
    display: table;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid black;
}
th{
    font-size: 0.8rem;
}
td, th{
    padding: 0.5rem;
}


